{% extends  'pages/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Plano de Chamada - Login {% endblock title %}

{% block nav %}{% endblock nav %}

{% block body %}
<div class="container h-100"> 
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-6 col-xl-6 align-items-center shadow p-3 mb-5 bg-white rounded">
            <div class="page-header pb-3 pt-3">
                <h1 class="text-center">Plano de Chamada</h1>
            </div>
            <div class="container col-lg-8 col-xl-8 mb-5">
                <div class="row pt-3">
                    <h3 class="text-left">Login</h3>
                </div>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row pt-3">
                        <input type="text" name="username" class="form-control" id="id_username" placeholder="CPF">
                    </div>
                    <div class="row pt-3">
                        
                        <input type="password" name="password" class="form-control" id="id_password" placeholder="Senha">
                    </div>
                    <div class="row pt-3 pb-3">
                        <button type="submit" class="btn btn-success btn-block">Acessar</button>
                    </div>

                </form>
                <hr>
                <div class="row justify-content-end">
                    <a class="align-rigth" href="#">Esqueceu a senha?</a>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <script>
                            var alertList = document.querySelectorAll('.alert')
                            var alerts =  [].slice.call(alertList).map(function (element) {
                            return new bootstrap.Alert(element)
                            })
                        </script>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    $(document).ready(function(){
        $('#id_username').mask('000.000.000-00', {reverse: true});
    });
</script>
{% endblock script %}

{% endblock body %}

{% block footer%}

<footer>
    <div class="rigths">
        <div class="container">
            <div class="row">
            <div class="col">
                <p class="text-center" > {% now 'Y' %} Plano de Chamada. Todos os direitos reservados.</p>
            </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer%}


