military-call/ext/site/__pycache__/main.cpython-38.pyc
military-call/__pycache__/app.cpython-38.pyc
military-call/__pycache__/__init__.cpython-38.pyc
military-call/ext/site/__pycache__/__init__.cpython-38.pyc
military_call.egg-info

.venv
