[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
python-decouple = "*"
django-crispy-forms = "*"
django-extensions = "*"
python-telegram-bot = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
ipython = "*"
django-debug-toolbar = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.8"
