[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
django-crispy-forms = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
django-debug-toolbar = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
