{% extends  'military/form.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 col-md-4 col-lg-12 col-xl-12">
            <div class="page-header pt-5">
                <h1 class="text-center">{{titulo}}</h1>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-lg-2 col-xl-2">
                        <label for="id_identidade">CPF</label>
                        {{ form.identidade }}
                    </div>
                    <div class="form-group col-lg-2 col-xl-1">
                        <label for="id_graduacao">Post/Grad</label>
                        {{ form.graduacao}}
                    </div>
                    <div class="form-group col-lg-7 col-xl-7">
                        <label for="id_nome">Nome</label>
                        {{ form.nome}}
                    </div>
                    <div class="form-group col-lg-2 col-xl-2">
                        <label for="id_subunidade">Subunidade</label>
                        {{ form.subunidade }}
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group pr-2">
                            <div class="form-check">
                                {{ form.operacional }}
                                <label class="form-check-label" for="id_operacional">
                                    Operacional
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                {{ form.chamador }}
                                <label class="form-check-label" for="id_chamador">
                                    Chamador
                                </label>
                            </div>
                        </div>
                    </div>
            
                <div class="form-row">
                    <div class="form-group col-lg-2 col-xl-2">
                    <label for="id_cep">CEP</label>
                    {{ form.cep }}
                    </div>
                    <div class="form-group col-lg-3 col-xl-3">
                        <label for="id_rua">Rua</label>
                        {{ form.rua }}
                    </div>
                    <div class="form-group col-lg-2 col-xl-2">
                        <label for="id_bairro">Bairro</label>
                        {{ form.bairro }}
                    </div>
                    <div class="form-group col-lg-2 col-xl-2">
                        <label for="id_cidade">Cidade</label>
                        {{ form.cidade }}
                    </div>
                    <div class="form-group col-lg-2 col-xl-2">
                        <label for="id_estato">UF</label>
                        {{ form.estado }}
                    </div>
                    <div class="form-group col-lg-1 col-xl-1">
                        <label for="id_area">Área</label>
                        {{ form.area }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3 col-xl-3">
                    <label for="id_telefone">Telefone Principal</label>
                    {{ form.telefone }}
                    </div>
                    <div class="form-group col-lg-3 col-xl-3">
                        <label for="id_telefone_telegram">Telegram</label>
                        {{ form.telefone_telegram }}
                    </div>
                    <div class="form-group col-lg-3 col-xl-3">
                        <label for="id_telefone_whatsapp">Whatsapp</label>
                        {{ form.telefone_whatsapp }}
                    </div>
                    <div class="form-group col-lg-3 col-xl-3">
                        <label for="id_telefone_familia">Telefone Familia</label>
                        {{ form.telefone_familia }}
                    </div>
                </div>  
                <div class="form-row ">
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
</div>
{% endblock body %}
