{% extends  'pages/base.html' %}
{% load static %}

{% block title %} Plano de Chamada - Home {% endblock title %}


{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-12">      
                <div class="jumbotron">
                    <h2>
                        App para realização de plano de chamada
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        texto de lading page
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            aqui entra uma fot
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}